/* All */
/* Загальна блокова модель */
html {
  box-sizing: border-dox;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

/* Styles body */
body {
  /* Geometry */
  /* Remove default value margin: 8px; */
  margin: 0;

  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

/* Class-utility .list - прибирає маркери у списках */
.list {
  /* Geometry */
  padding: 0;
  margin: 0;

  list-style: none;
}

/* Size container */
.container {
  /* Geometry */
  /* Outline */
  outline: 2px solid blue;
  width: 1200px;
  /* Centering */
  margin: 0 auto;
}

/* Class-utility .link - прибирає підкреслення у посиланнях (in logo) */
.link-decoration a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Classes for header */
/* Site nav */
/* Classes logo */
.logo {
  /* Geometry */
  /* For user convenience */
  /* Outline */
  /* outline: 2px solid green; */
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 93px;

  /* Color, text */
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-web {
  color: #2196f3;
}

/* Removed default value space 4px in bottom in img */
.imges {
  /* Geometry */
  display: block;
}

/* Styles for background */
.header-page {
  /* Geometry */
  /* Outline */
  /* outline: 2px solid green; */
  padding-top: 19px;
  padding-bottom: 20px;

  /* Color, text */
  background-color: #ececec;
}

/* Flex 5 */
.container-header {
  /* Geometry */
  display: flex;
  align-items: center;
}

/* Styles links in header */
/* Header navigation to pages*/
/* Flex 6 */
.nav-main {
  /* Geometry */
  display: flex;
  align-items: center;
}

/* Flex 1 */
.nav-ul-site {
  /* Geometry */
  display: flex;
}

/* Flex 2 Add margin. Edge geometry cleaning */
.nav-ul-site .item:not(:last-child) {
  /* Geometry */
  margin-right: 50px;
}

.nav-ul-site .link {
  /* Geometry */
  /* Outline */
  /* outline: 2px solid red; */
  /* For user convenience */
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;

  /* Color, text */
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-ul-site .link:hover,
.nav-ul-site .link:focus {
  color: var(--accent-color);
}

.nav-ul-site .link.current {
  color: var(--accent-color);
}

/* Header contacts */
/* Flex 3 */
.header-contacts {
  /* Geometry */
  display: flex;
  margin-left: auto;
}

/* Flex 4 */
.header-contacts .item:not(:last-child) {
  /* Geometry */
  margin-right: 50px;
}

.header-contacts .link {
  /* Geometry */
  /* Outline */
  /* outline: 2px solid red; */
  /* For user convenience */
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;

  /* Color, text */
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

/* The Studio page */
/* Styles for title sections Studio */
.saction-title {
  /* Geometry */
  /* Outline */
  outline: 2px solid red;
  margin-top: 0;
  margin-bottom: 50px;

  /* Color, text */
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Hero section */
/* Backgroung hero-section */
.hero {
  /* Geometry */
  /* Outline */
  outline: 2px solid blue;
  padding-top: 200px;
  padding-bottom: 200px;

  /* Color, text */
  background-color: #2f303a;
}

/* Hero section Studio */
.hero-title {
  /* Geometry */
  /* Outline */
  /* outline: 2px solid red; */
  margin-top: 0;
  margin-bottom: 30px;

  /* Color, text */
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  /* Geometry */
  /* outline */
  /* outline: 2px solid red; */
  /* Rounding */
  padding: 10px 32px;
  border-radius: 4px;
  margin: auto;

  /* Color, text */
  background-color: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
  /* For title */
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* Hang section */
/* Styles of the Hang section */
.hang {
  /* Geometry */
  /* Outline */
  outline: 2px solid green;
  padding-top: 94px;
}

.hang-list {
  /* Geometry */
  /* Flex 7 */
  display: flex;
}

.hang-list .item:not(:last-child) {
  margin-right: 30px;
}

.hang-list .hang-title {
  /* Geometry */
  /* Outline */
  outline: 2px solid red;
  margin-top: 0;
  margin-bottom: 10;

  /* Color, text */
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.hang-list p {
  /* Geometry */
  /* Outline */
  outline: 2px solid red;
  margin-top: 0;
  margin-bottom: 0;

  /* Cplor, text */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: blue;
}

/* What are we doing section */
.we-doing {
  /* Geometry */
  /* Outline */
  outline: 2px solid blue;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Flex 8 */
.we-doing .list {
  /* Geometry */
  display: flex;
}

/* Our Team section */
.our-team {
  /* Geometry */
  /* Outline */
  outline: 2px solid blue;
  padding-top: 94px;
  padding-bottom: 94px;

  /* Color, text */
  background-color: #f5f4fa;
}

/* Flex 9 */
.our-team .list {
  /* Geometry */
  display: flex;
}

.our-team p {
  /* Geometry */
  /* Outline */
  outline: 2px solid red;
  margin-top: 0;
  margin-bottom: 0;

  /* Color, text */
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-names {
  /* Geometry */
  /* Outline */
  outline: 2px solid red;
  margin-top: 30px;
  margin-bottom: 10px;

  /* Color, text */
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.container-team {
  /* Geometry */
  /* Outline */
  outline: 2px solid green;
  padding-bottom: 30px;

  /* Color, text */
  background-color: #ffffff;
}

/* Footer */
.footer-back {
  /* Geometry */
  /* Outline */
  outline: 2px solid red;
  padding-top: 60px;
  padding-bottom: 60px;

  /* Color, text */
  background-color: #2f303a;
}

.logo-footer {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  /* Outline */
  outline: 2px solid red;
}

.address-footer .link {
  color: #ffffff;
  /* Outline */
  outline: 2px solid red;
}

.address-footer a {
  /* Color, text */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* Outline */
  outline: 2px solid red;
}

.address-footer a:hover,
.address-footer a:focus {
  color: var(--accent-color);
}

.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
}

.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}

/* Portfolio page */
/* Styles for title sections Prtfolio */
/* Hero section Prtfolio */
.portfolio {
  /* Geometry */
  padding-top: 94px;
  padding-bottom: 94px;
}

/* .portfolio .list {
  display: flex;
} */

.container-title {
  /* Geometry */
  /* Outline */
  outline: 2px solid green;
  margin-top: 0;
  margin-bottom: 4px;

  /* Color, text */
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.container-portfolio .link {
  color: var(--primary-text-color);
}

.container-portfolio p {
  /* Geometry */
  /* Outline */
  outline: 2px solid red;
  margin-top: 0;
  margin-bottom: 0;

  /* Color, text */
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* Buttons system */
.filter-button {
  /* Geometry */
  /* Outline */
  outline: 2px solid red;
  margin-bottom: 20px;

  /* Color, text */
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/* Frame */
/* .main-border {
  border: 1px solid #ececec;
} */

.container-border > li {
  /* Geometry */
  /* Outline */
  padding-bottom: 20px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
}
